@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --clr-primary-soft-blue: hsl(215, 51%, 70%);
    --clr-primary-cyan: hsl(178, 100%, 50%);

    --clr-neutral-very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --clr-neutral-very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --clr-neutral-very-dark-blue-line: hsl(215, 32%, 27%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --ff-primary: 'Outfit', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-neutral-very-dark-blue-main-bg);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-box {
    margin: 3rem 0;
    width: 90%;
    max-width: 350px;
    max-height: 100vh;
    padding: 1.5rem;
    background-color: var(--clr-neutral-very-dark-blue-card-bg);
    color: var(--clr-neutral-white);
    border-radius: 1rem;
}

.image-equilibrium {
    width: 100%;
    border-radius: 1rem;
}

.content {
    padding: 1rem 0 0 0;
}

.bottom-margin {
    margin-bottom: 1rem;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.ETH-container-flex {
    display: flex;
    justify-content: space-between;
}

.icon-ETH-flex {
    display: flex;
    gap: 0.3rem;
}

.cyan-clr {
    color: var(--clr-primary-cyan);
}

.softblue-clr {
    color: var(--clr-primary-soft-blue);
}

.span-Jules {
    position: relative;
    left: -0.7rem;
}

.line {
    color: var(--clr-neutral-very-dark-blue-line);
}

.footer-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}
